# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
static/

# Secret key
*.secret_key

# Environment variables
.env

# Editor-specific files
.vscode/
.idea/

# Dependency directories
venv/
env/
